* {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    font-weight: 500;
    user-select: none;
}

h2 {
    text-transform: uppercase;
    background-color: yellow;
}

p {
    background-color: green;
    margin-top: 15px;
}

.group {
    background-color: blue;
    margin-top: 15px;
}

img {
    height: 400px;
    width: 600px;
    margin: 5px 0 0 5px;
}

h3 {
    margin-left: 10px;
}